<div class="two_thirds">  
  <div class="pushed_content translucent">
    <h1>
      song list
      <% if user_signed_in? %>
        <%= link_to "Add new song", new_song_path, class: "pseudo_button" %>
      <% end %>
    </h1>

    <p>
      Although the band mostly plays classic rock, they enjoy many types of music and they continue to add to their catalogue.
      <br>
    </p>
    <p>
      Below is a list of songs that Blackbird has performed at previous events.
    </p>

    <ul class="songs blocked" style='border-top: 1px solid #ddd; margin-top: 1em; padding-top: 1em;'>
      <%= render partial: 'songs/song', collection: @songs %>
    </ul>
  </div>
</div>
<%= render partial: "layouts/right_third" %>