<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
</head>
<body>
	<h1>Web comment:</h1>
	<span><%= @name %></span> said the following:
	<p><%= @message %></p>
	Their email address is <span><%= @email %></span>	
</body>
</html>