@media (max-width: 980px) {
  body {
    font-size: 16px;
  }

  .desktop_show {
    display: none !important;
  }

  #nav_trigger {
    cursor: pointer;
  }

  ul#nav_list {
    display: none;
    position: absolute;
    width: 60%;
    background-color: #aaa;
    top: 4em;
    right: 0;
    z-index: 200;
    box-shadow: 0 0 .5em .2em #000;
    overflow: hidden;
    margin-right: 0;
    min-width: 350px;
    border-radius: 4px;

    li {
      display: block;
      width: 100%;
      text-transform: capitalize;
      background-color: #ccc;
      
      a {
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        display: block;
        border-bottom: .05em solid #888;
        color: #444;
        font-family: helvetica, arial, sans-serif;
        text-decoration: none;
        padding-left: 2em;
        font-size: .8em;
        font-variant: normal;
        font-weight: bold;

        &:hover {
          background-color: #aab;
          color: #444;
          font-family: helvetica, arial, sans-serif;
          font-size: .8em;
          font-variant: normal;
          font-weight: bold;
        }
      }
    }
  }

  .mobile_show {
    display: inline-block;
  }

  section#content:not(.home) {
    padding-top: 4em;
  }

  .centered_content {
    width: 100%;
  }

  .content_with_margin {
    padding: 0;
  }

  .pushed_content {
    margin-top: 0;
  }

  div.one_third {
    margin-top: 2%;
  }

  div.two_thirds, div.one_third {
    width: 96%;
    float: none;
    padding: 2%;
  }

  section#footer {
    background-color: rgba(10, 10, 10, .9);

    #social_media {
      margin: 0 auto;
      display: block;
      float: none;

      li {
        margin-right: 4em;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }

  #home_logo_link {
    position: static;
    left: .5em;
    z-index: 2;
    height: 75px;
  }
}
