input[type=email],
input[type=text] {
  padding: 0 .4rem;
  border: none;
  height: 3rem;
  margin: 1rem;
  font-size: 1rem;
  width: 60%;
  color: #666666;
  background-color: #ccc;
  border-radius: 6px;
}

a.pseudo_button, input[type=submit] {
  cursor: pointer;
  border: none;
  background-color: $secondary_blue;
  font-weight: normal;
  font-size: 1em;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: fit-content;
  text-indent: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease;

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    text-decoration: none;
    background-color: lighten( $secondary_blue, 20% );
  }
}

input[type=submit] {
  height: 1.5rem;
  box-sizing: content-box;
}

textarea {
  min-width: 300px;
  min-height: 6em;
}

.contact_table {
	width: 80%;

	input[type=email],
	input[type=text] {
		margin-left: 0;
		width: 90%;
	}

	textarea {
		margin-top: 1em;
		width: 90%;
		padding: .4em;
		min-height: 6em;
		color: #666666;
		font-size: 1em;
    background-color: #ccc;
    border-radius: 6px;
	}
}

#email_signup_form form {
  display: flex;
  align-items: center;
}

#email_signup_form input#email {
  margin: 1rem 1rem 1rem 0;
}

#email_signup_form input[type=submit] {
  height: 1.5rem;
  box-sizing: content-box;
}