@import 'mixins';

* {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: normal;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #2a2e30;
  color: #aaa;
  height: 100%;
  font-size: 15px;
  line-height: 22px;
}

#page_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

a {
  text-decoration: none;
  color: #888;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #888;
  }
}

h1, h2, h3, h4 {
  font-variant: small-caps;
}

@import 'mixins';

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: .3em;
  text-shadow: .04em .04em #000;
  font-weight: 100;

  a.pseudo_button {
    font-size: .4em;
    vertical-align: middle;
    font-variant: normal;
    text-shadow: none;
  }
}

h2 span {
  font-size: .8em;
  color: $secondary_blue;
}

h3 {
  color: $secondary_blue;
}

p {
  margin-top: 1.3em;
  text-indent: 1em;
}

ul {
  list-style-position: inside;
  list-style-type: none;

  &.bulleted {
    list-style-type: disc;
  }

  &.inline {
    li {
      display: inline-block;
      margin-right: 2em;
    }
  }

  &.blocked {
    border: .1em solid #777;
    padding: 1em;
    background: rgba(0, 0, 0, .5);

    li {
      border-bottom: .1em solid #aaaaaa;
      margin-bottom: 1em;

      span {
        color: lighten($secondary_blue, 10%);
      }
    }
  }
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.pos_fl {
  float: left;
}

.pos_fr {
  float: right;
}

.notice, 
.alert {
  position: fixed;
  top: 0;
}

.align_right {
  text-align: right;
}

.centered_content {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  line-height: 1.8em;
  padding-bottom: 5em;
}

.content_with_margin {
  padding: 0 1%;
}

.pushed_content {
  margin-top: 3em;
  padding:  0 1em 1em 1em;

  span {
    color: $secondary_blue;
  }
}

.translucent {
  box-shadow: 0 0 .1em .1em rgba(30, 30, 30, .3);
}

#email_signup_spinner {
  margin: 2em 0;
  display: none;

  div.center {
    text-align: center;
  }
}

#email_signup_message {
  margin: 2em 0;
  display: none;
  border: .1em solid #aaccaa;
  padding: 1em;

  &.error {
    border-color: #ccaaaa;
  }
}

.loader {
  font-size: .3em;
  margin: 3em auto;
  text-indent: -9999em;
  color: #ffffff;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pseudo_li {
  overflow: auto;

  &.border {
    &.bottom {
      border-bottom: .1em solid #eee;
    }
  }
}