section#content {
  background: url(image_path('background.jpg')) fixed;
  background-repeat: repeat;
  width: 100%;
  min-height: 100%;
  padding-top: 7em;

  &.home {
    padding-top: 4em;
  }
}

div.two_thirds {
  width: 62%;
  padding: 2%;
  margin-right: .5em;
  background-color: rgba(0, 0, 0, .5);
  color: #c2c2c2;
  /* box-shadow: inset 0 0 0 .1em #bbb, inset 0 0 .8em 0 #000; */
  min-height: 700px;
  overflow: auto;

  a:not(.pseudo_button) {
    color: lighten($secondary_blue, 15%);
  }

  .bio_image {
    max-width: 35%;
    margin-left: 1em;
    box-shadow: 0 0 .2em .1em #111, 0 0 .1em .1em #ddd inset;
  }
}

div.one_third {
  width: 33%;
  color: #eeeeee;
  /* box-shadow: inset 0 0 0 .1em #bbb, inset 0 0 .8em 0 #000; */
  margin-top: 0;
  border-radius: .2em;
  overflow: auto;
  display: flex;
  flex-direction: column;

  > div {
    padding: .5em .5em 1em;
    margin-bottom: .5em;
    background-color: rgba(0, 0, 0, .5);
  }

  a {
    color: $secondary_blue;
  }

  .pseudo_button {
    color: #fff;
  }

  h2 {
    font-family: "Rock Salt";
    color: #aaa;
    border-bottom: .09em solid #444;
  }

  & ~ div.one_third {
    margin-top: 2%;
  }

  ul {
    margin-top: 1em;
  }

  li {
    margin-top: .2em;

    a {
      display: block;
      padding: .1em .5em;
      color: $secondary_blue;
      font-weight: normal;

      span {
        color: #ccc;
      }

      &:hover {
        background-color: rgba(50, 50, 50, .5);
        text-decoration: none;
        color: lighten($secondary_blue, 15%);
      }
    }
  }

  a.view_all_link {
    float: right;
  }
}