section#header {
  background-color: #000;
  height: 3em;
  line-height: 3em;  

  a {
    color: #FFF;

    &:hover {
      color: #40495F;
    }
  }
}

ul#nav_list {
  float: right;
  margin-right: 10px;

  li {
    float: left;
    margin-right: 1em;
    display: inline-block;
    font-variant: small-caps;
    font-size: 1.5em;
  }
}