@import 'mixins';

section#header {
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 55%, rgba(23,25,28,1) 100%);
  height: 4em;
  line-height: 4em; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;;

  a {
    color: #ccc;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 300;

    &:hover {
      font-weight: 300;
    }
  }

  i {
    float: right;
    line-height: 1.6em;
    color: #888;
    font-size: 2rem;
    margin-right: 2%;
  }
}

ul#nav_list{
  float: right;
  margin-right: 10px;

  li {
    margin-right: 1em;
    display: inline-block;
    font-variant: small-caps;
    font-size: 1.2em;
    line-height: 2.5em;
  }
}

section#footer {
  height: 3em;
  line-height: 3em;
  position: fixed;
  bottom: 0;
  width: 98%;
  background-color: rgba(10, 10, 10, .9);
  padding: 1em 1% 0;
  z-index: 5;

  li {
      margin-right: 3em;

    i {
      font-size: 2em; 
      color: $secondary_blue;

      &:hover {
        color: #888;
      }   
      
    }

    &:last-child {
      margin-right: 0;
    }  
  }

  #social_media {
    width: 14em;
    display: block;
  }

  .user_widget {
    float: left;
  }
}

#home_logo_link {
  position: absolute;
  top: 0;
  left: .5em;
  z-index: 2;
  height: 75px;
}