#review_widget {
	position: relative;
	height: 120px;

	.quote {
		position: absolute;
		top: .5em;
		left: 0;
		width: 89%;
		max-height: 70px;
		padding: 1em 1em 2.3em;
		margin: .5em;
		border-radius: 1em;
		border: 1px solid #888;
		color: #fff;

		.quote_name {
			font-style: italic;
			text-align: right;
		}
	}
}

.blocked.reviews li {
	border-bottom: 1px solid $darker_blue;
}